<section class="container">

  {{!--templates/application.hbs--}}
  {{message-queue}}

  <h2 id='title'>NOUGIT: Blog tutorials for new Git users</h2>
  <div class="wrapper">
    {{outlet}}
  </div>
</section>
